
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&family=Poppins:wght@300;400;700&display=swap');

  *{
    border:0;
    margin:0;
    padding:0;
    box-sizing: border-box;
   
   
    
}
body{
    font-family: 'Poppins',sans-serif;
   
   
}
html{
    font-size: 62.5%;
}

.full-width{
   
    position: relative;
    display: flex;
    flex-direction: column;
    right:-10rem; 
    background: linear-gradient(294.28deg, #C8DCE6 0%, #B6CCDA 100%);
    width: 92.5vw;
    height: 100vh;
   border-radius: 3rem;
   
}
.logo{
    width: fit-content;
    transform: translateY(-7px);
}
.logo img{
    height: 6rem;
    width: 6rem;
 padding: 1rem;
}
.navbar{
    margin-top: 2rem;
}
.nav-items{
    font-size: 1.6rem;
    cursor: pointer;
    margin-top:1rem;
    display: flex;
    justify-content: space-between;
    gap:60px;
    color:#fff;
    font-weight: 500;
    letter-spacing: 0.3px;
}
span:nth-child(4){
background-color: #fff;
color: #B6CCDA;
font-weight: 600;
border-radius: 3.6rem;
padding:1px 20px;


}
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between ;
  
}
.watch-container{
    display: flex;
    height:10rem;
    width: 10rem;
}
.search-menu{
    display: flex;
    align-items: center;
}
.search-menu img{
    width: 2rem;
    height: 2rem;
    position: relative;
left:-3rem;
}
.search-menu input{
    font-size: 1.6rem;
    width:26rem;
    height:4.2rem;
    padding:.5rem;
    border-radius: 4.6rem;
    background-color: #B6CCDA;
    opacity:0.8;
    outline: none;
 
}
::placeholder{
    color: #fff;
    font-weight: 400;
    
}
.cart-icon img{
    width: 2.4rem;
    height: 2.4rem;
    
    margin-left: 4rem;
}
.cart-icon{
  cursor: pointer;
    border-left:2px solid rgba(2,2,2,0.1);
}
.main-container{
    display: flex;

    width: 114.0rem;
    height: 100%;
    align-items: center;
}
.headings{
    transform: translateY(-30px);
    width: 70rem;
    height: 25.8rem;
}
.headings h1{
    padding:2rem 8rem;
    margin:-4rem ;
}
.headings h1:nth-child(1){
    color: #fff;
    font-size: 6rem;
 
}
.watch-img img{
    width: 40rem;
    height: 40rem;

}
.headings h1:nth-child(2){
    font-weight: 300;
        color: #fff;
        font-size:5rem;
}
.headings h1:nth-child(3){
    font-weight: 300;
        color: #fff;
        font-size: 5rem;
}


.buy-now,.page-indicator{
    margin-top: 3rem ;
    padding:2rem 3rem;
    
}
.page-indicator{
    
    margin-top: 1rem ;
    padding:2rem 3.5rem;
    cursor: pointer;
    
}

.buy-now button{
    cursor: pointer;
    font-size: 2rem;
    border-radius: 3.6rem;
    width: 25rem;
    font-weight: 600;
    height: 70px;
    background-color: #B6CCDA;
    color: #fff;
    outline: 0;
    border: 2px solid #fff;
    transition: all 0.2s ease-in;
}
.buy-now button:hover{
    opacity: 0.5;
}
.small-watch{
    display: flex;
    justify-content: space-between;
    gap:3px;
}

.small-watch img{
    cursor: pointer;
    width: 12.1rem;
    height: 8.8rem;
    
}
.black-color{
    border:1px solid #fff;
    width:2rem;
    height: 2rem;
    background-color: #404354;
    border-radius: 50%;
}
.bg-color{
    border:3.5px solid #fff;
    width:3rem;
    height: 3rem;
    background-color: #B6CCDA;
    border-radius: 50%;

}
.sea-color{
    border:1px solid #fff;
    background-color:#58D7C4;
    width:2rem;
    height: 2rem;
    
    border-radius: 50%;

}
.watch1:hover{
    scale:1.2;
}
.watch2:hover{
    scale:1.2;
}
.watch3:hover{
    scale:1.2;
}
.color-section{
    transform: translateY(-40px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
gap:2px;
  
    align-items: center;
}
.pink-color{
    border:1px solid #fff;
    background-color: #F2CEC6;
    width:20px;
    height: 20px;
    
    border-radius: 50%;
}
.nav-menu-icon{
    margin-top: 2rem;
}
.white-section{
    transform: translateY(-30px);
    align-items: center;
    display: flex;
    flex-direction: column;

    width: 7rem;

justify-content: space-between;

    left:-7rem;
    position: absolute;
    height:95vh;

}
.social-icons{
    
   align-items: center;
    gap:2rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.social-icons img:nth-child(1){
    width:14px;
    height: 32px;
}
.menu-icon{
   
    cursor: pointer;
}
.dot{
    width:3px;
    height: 3px;
    background-color: #fff;
    border-radius: 50%;
}

    
@media screen and (max-width:1240px){
    .full-width{
        width: 100%;
        height: fit-content;
    }
    
}



@media screen and (max-width:768px) {
html,body{
height:100%;
width: 100%;
padding:0;
margin: 0;
overflow-x: hidden;
}
.full-width{
    width: 90%;
}




.logo img{
    width: 2rem;
    height: 2rem;
    
}

.nav-items{
    display: none;
}
.full-width{
  
   transform: translateX(-100px);
    width: 100%;
    height: fit-content;
    border-radius: 9px;
  
  
}
.main-container{
    flex-direction: column;
    width: 100%;
    
    
}
.headings{
    font-size: 4rem;
    margin-top: 10rem;
    width: 100%;
}
.logo img{
    
    width:9rem;
    height:9rem;
}
.logo{
    padding:3rem 2rem;
}
.search-menu input{
    font-size: 3rem;
}
.watch-img img{
    margin-top: 5rem;
    width: 31.2rem;
    height: 27.7rem;
}
.small-watch{
    display:none;
}
.buy-now button{
    width: 15.1rem;
    height: 5.8rem;
    font-size: 3rem;
}
.watch-img{
    flex-direction: row;
    transform: translate(-80px,120px);
}
.watch-container{
    display: flex;
    flex-direction: row;
}
.color-section{
    display: flex;
    flex-direction: column;
    transform: translate(50px,-100px);
  
    border: none;
}
.cart-icon img{

    width: 50px;
    height: 50px;
}
.search-menu input{
    display: none;
}
.search-menu img{
    width: 4rem;
    height: 4rem;
}
.page-indicator{
display: none;
}
.white-section{

display: flex;
border-radius: 0px 8px 0px 8px;
height:fit-content;
width:10%;
left:20rem;
position: absolute;
bottom: -25rem;
flex-direction: column;
rotate: 270deg;
background-color: #fff;
justify-content: space-around;
gap: 200px;

}
.menu-icon img{
rotate: 90deg;

}
.menu-icon{
transform: translateY(0x);
cursor: pointer;
}
.social-icons img{
rotate: 90deg;
}


}
@media screen and (max-width:450px){
html,body{
    height:100%;
    width: 100%;
    padding:0;
    margin: 0;
    overflow-x: hidden;
    
   }
  

.logo img{
    
    width:8rem;
    height:8rem;
}
.logo{
    padding:40px 10px;
}
.headings h1{
    font-size: 2rem;
}

.watch-img img{
width: fit-content;
height: 200px;
transform: translate(20px,40px);
}
.color-section{
transform: translate(50px,-10px);
}.white-section{
bottom:-23rem;
gap: 150px;
}

}
@media screen and (max-width:400px){


.watch-img img {
transform: translate(20px,90px);
width: 60%;

}

}

