
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&family=Poppins:wght@300;400;700&display=swap');
*{
    border:0;
    margin:0;
    padding:0;
    box-sizing: border-box;
   
   
    
}
body{
    font-family: 'Poppins',sans-serif;
   
   
}
html{
    font-size: 62.5%;
}

.full-width{
   
    position: relative;
    display: flex ;
    flex-direction: column;
    right:-10rem; 
    background: linear-gradient(294.28deg, #C8DCE6 0%, #B6CCDA 100%);
    width: 124rem;
    height: 100vh;
   border-radius: 1rem;
   
}
.logo{
    width: fit-content;
    transform: translateY(-7px);
}
.logo img{
    height: 6rem;
    width: 6rem;
 padding: 1rem;
}
.nav-items{
    font-size: 1.6rem;
    cursor: pointer;
    margin-top:1rem;
    display: flex;
    justify-content: space-between;
    gap:60px;
    color:#fff;
    font-weight: 600;
    letter-spacing: 0.3px;
}
span:nth-child(4){
background-color: #fff;
color: #B6CCDA;
font-weight: 600;
border-radius: 3.6rem;
padding:1px 20px;


}
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between ;
  
}
.watch-container{
    display: flex;
    height:10rem;
    width: 10rem;
}
.search-menu{
    display: flex;
    align-items: center;
}
.search-menu img{
    width: 2rem;
    height: 2rem;
    position: relative;
left:-3rem;
}
.search-menu input{
    font-size: 1.6rem;
    width:26.0rem;
    padding:.5rem;
    border-radius: 3.6rem;
    background-color: #B6CCDA;
    opacity:0.8;
 
}
::placeholder{
    color: #fff;
    font-weight: 300;
}
.cart-icon img{
    width: 2.4rem;
    height: 2.4rem;
    
    margin-left: 4rem;
}
.cart-icon{
  cursor: pointer;
    border-left:2px solid rgba(2,2,2,0.1);
}
.main-container{
    display: flex;

    width: 114.0rem;
    height: 100%;
    align-items: center;
}
.headings{
    transform: translateY(-30px);
    width: 70rem;
    height: 25.8rem;
}
.headings h1{
    padding:2rem 8rem;
    margin:-4rem ;
}
.headings h1:nth-child(1){
    color: #fff;
    font-size: 6rem;
 
}
.watch-img img{
    width: 40rem;
    height: 40rem;

}
.headings h1:nth-child(2){
    font-weight: 300;
        color: #fff;
        font-size:5rem;
}
.headings h1:nth-child(3){
    font-weight: 300;
        color: #fff;
        font-size: 5rem;
}


.buy-now,.page-indicator{
    margin-top: 3rem ;
    padding:2rem 3rem;
    
}
.page-indicator{
    
    margin-top: 1rem ;
    padding:2rem 3.5rem;
    cursor: pointer;
    
}
.page-indicator:hover{
    transform: translateX(10px);
}
.buy-now button{
    cursor: pointer;
    font-size: 2rem;
    border-radius: 3.6rem;
    width: 25rem;
    font-weight: 600;
    height: 70px;
    background-color: #B6CCDA;
    color: #fff;
    outline: 0;
    border: 2px solid #fff;
    transition: all 0.2s ease-in;
}
.buy-now button:hover{
    opacity: 0.5;
}
.small-watch{
    display: flex;
    justify-content: space-between;
    gap:3px;
}

.small-watch img{
    width: 12.1rem;
    height: 8.8rem;
    
}
.black-color{
    border:1px solid #fff;
    width:2rem;
    height: 2rem;
    background-color: #404354;
    border-radius: 50%;
}
.bg-color{
    border:3px solid #fff;
    width:3rem;
    height: 3rem;
    background-color: #B6CCDA;
    border-radius: 50%;

}
.sea-color{
    border:1px solid #fff;
    background-color:#58D7C4;
    width:2rem;
    height: 2rem;
    
    border-radius: 50%;

}
.watch1:hover{
    scale:1.2;
}
.watch2:hover{
    scale:1.2;
}
.watch3:hover{
    scale:1.2;
}
.color-section{
    transform: translateY(-40px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
gap:2px;
  
    align-items: center;
}
.pink-color{
    border:1px solid #fff;
    background-color: #F2CEC6;
    width:20px;
    height: 20px;
    
    border-radius: 50%;
}
.nav-menu-icon{
    margin-top: 2rem;
}
.white-section{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 7rem;
border-radius: 80px;

    left:-6rem;
    position: absolute;
    height:80vh;

}
.social-icons{
    
   align-items: center;
    gap:2rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.social-icons img:nth-child(1){
    width:14px;
    height: 32px;
}
.menu-icon{
    transform: translateY(-80px);
    cursor: pointer;
}
.dot{
    width:3px;
    height: 3px;
    background-color: #fff;
    border-radius: 50%;
}
