@media screen and  (max-width:1024px){
    .full-width{
        height: fit-content;
    }
    
}
@media screen and (max-width:767px) {
    
    html{
        font-size: 55%;
        width: 100%;
        width: fit-content;
    }
    .logo img{
        width: 2rem;
        height: 2rem;
        
    }

    .nav-items{
        display: none;
    }
    .full-width{
        translate:-70px;
       
        width: fit-content;
        height: fit-content;
        border-radius: 36px;
      
      
    }
    .main-container{
        flex-direction: column;
        width: 100%;
        
        
    }
    .headings{
        font-size: 4rem;
        margin-top: 10rem;
        width: fit-content;
    }
    .logo img{
        
        width:9rem;
        height:9rem;
    }
    .logo{
        padding:3rem 2rem;
    }
    .search-menu input{
        font-size: 3rem;
    }
    .watch-img img{
        margin-top: 5rem;
        width: 31.2rem;
        height: 27.7rem;
    }
    .small-watch{
        display:none;
    }
    .buy-now button{
        width: 15.1rem;
        height: 5.8rem;
        font-size: 3rem;
    }
    .watch-img{
        flex-direction: row;
        transform: translate(-130px,120px);
    }
    .watch-container{
        display: flex;
        flex-direction: row;
    }
    .color-section{
        display: flex;
        flex-direction: column;
        transform: translate(50px,-100px);
      
        border: none;
    }
    .cart-icon img{
    
        width: 50px;
        height: 50px;
    }
    .search-menu input{
        display: none;
    }
    .search-menu img{
        width: 4rem;
        height: 4rem;
}
.page-indicator{
    display: none;
}
.white-section{
   
    border-radius:88px;
    height:fit-content;
    width:100%;
    position: absolute;
    bottom: -18rem;
    align-items: left;

    flex-direction: column;
   rotate: 270deg;
   translate: 100px;
   gap:100px;
  
}
.menu-icon img{
    rotate: 90deg;
    
}
.social-icons img{
    rotate: 90deg;
}


}
@media screen and (max-width:450px){
    html{
        font-size: 55%;
        width:100%;
        
    }
    .logo img{
        
        width:8rem;
        height:8rem;
    }
    .logo{
        padding:40px 10px;
    }
 
.watch-img img{
    width: fit-content;
    height: 200px;
  transform: translateY(50px);
   }
   .color-section{
    transform: translateY(-10px);
   }
  

}
@media screen and (max-width:400px){
    html{
        font-size: 50%;
        width:100%;
    }
   
    
    .white-section{
        bottom:-20rem;
       
        width: 100%;
    
    }
   .watch-img img {
    transform: translate(100px,50px);
    width: 100%;
   }
   .color-section{
    transform: translate(100px,-50px);
   }
}
